<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App</title>
</head>
<body>

<p>Menu:</p>

<ul>
    <li>
        <a href="{{ url_for('viewPageCreator') }}">Disenador de paginas</a>
    </li>
    <li>
        <a href="{{ url_for('viewWidgetCreator') }}">Creador de Widgets</a>
    </li>
    <li>
        <a href="{{ url_for('viewWidgetList') }}">Lista de widgets</a>
    </li>
    <li>
        <a href="{{ url_for('viewPageList') }}">Lista de paginas</a>
    </li>
</ul>

</body>
</html>